<!DOCTYPE html>
<!--idioma de la pagina-->
<html lang="es">
<head>
    <!--codificacion de los caracteres-->
    <meta charset="UTF-8">
    <!--meta viewport para que el navegador cargue la web desde diferentes dispositivos-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--descripcion de la pagina web-->
    <meta name="description" content="Empresa de Electronica y Robotica">
    <!--palabras clave para el buscador-->
    <meta name="keywords" content="Keyday, Electronics, keydayelectronics, Electronica, Robotica, Robotics">
    <!--autor de la pagina-->
    <meta name="author" content="Francesc">
    <!--permite a los moteres indexar la pagina-->
    <meta name="robots" content="index, follow">
    <!--enlace al archivo de estilo en la carpeta /css -->
    <link rel="stylesheet" href="../css/style.css">
    <!--enlace al icono de la ventana del navegador-->
    <link rel="icon" type="image/png" href="../images/favicon.png">
    <!--titulo de productos-->
    <title>Productos</title>
</head>
<!--body class productos para que el css sepa la pagina en la que se encuentra actualmente-->
<body class="productos">
    <!--seccion header-->
    <header>
        <div>
          <!--tabla que contiene enlaces en celda (funciona como menu de navegacion)-->
          <table class="menu_table_class">
            <tr>
                <!--td que contiene la imagen del logo class home para cambiar de fondo-->
                <td class="menu-home">
                    <a href="../index.html">
                        <img id="logo_img_id" src="../images/keyday01.png" alt="logo img failed">
                    </a>
                </td>
                <!--td que contiene el enlace a productos.html class productos para cambiar de fondo-->
                <td  class="menu-productos">
                    <a href="productos.html" class="menu_a">
                        <p class="menu_p">
                            Productos
                        </p>
                    </a>
                </td>
                <!--td que contiene el enlace a presupuestos.html class presupuestos para cambiar de fondo-->
                <td  class="menu-presupuestos">
                    <a href="presupuestos.html" class="menu_a">
                        <p class="menu_p">
                            Presupuestos
                        </p>
                    </a>
                </td>
                <!--td que contiene el enlace a contacto.html class contacto para cambiar de fondo-->
                <td class="menu-contacto">
                    <a href="contacto.html" class="menu_a">
                        <p class="menu_p">
                            Contacto
                        </p>
                    </a>
                </td>
            </tr>
           </table>
        </div>
    </header>
    <!--nav con el titulo productos-->
    <nav id="productos_nav_id">
        <h2>Productos</h2>
    </nav>
    <!--seccion que contiene la tabla de de los robots domesticos-->
    <section class="product_section_class">
        <!--titulo de la tabla-->
        <h3 class="product_title_class">
            Robots Dom&eacute;sticos
        </h3>
        <!--tabla de producto de los robots domesticos-->
        <table class="product_table_class" id="product_table_id_01">
            <!--fila de nombres, parrafos de la misma clase-->
            <tr>
                <td>
                    <p class="p_name_class">Robot Normal v6</p>
                </td>
                <td>
                    <p class="p_name_class">Robot Ecol&oacute;gico</p>
                </td>
                <td>
                    <p class="p_name_class">Robot Profesional</p>
                </td>
            </tr>
            <!--fila de imagenes de producto-->
            <tr>
                <td>

                    <img src="../images/human_robot_03.png" alt="human robot img failed">
                </td>
                <td>

                    <img src="../images/human_robot_10.png" alt="human robot img failed">
                </td>
                <td>
                    <img src="../images/human_robot_09.png" alt="human robot img failed">
                </td>
            </tr>
            <!--fila de descripcion y precio en 2 parrafos de 2 clases para cada producto-->
            <tr>
                <td>
                    <p class="p_description_class">Un asistente automatizado que facilita las tareas del hogar, desde la limpieza hasta la organizaci&oacute;n. Ideal para quienes buscan comodidad y eficiencia en la rutina diaria, con funciones b&aacute;sicas de navegaci&oacute;n y control por voz.</p>
                    <p  class="p_price_class">desde 14.999,99 euros</p>
                </td>
                <td>
                    <p class="p_description_class">Una opci&oacute;n accesible para aquellos que quieren experimentar con tecnolog&iacute; inteligente en casa. Este modelo ofrece capacidades de automatizaci&oacute;n mejoradas, adapt&aacute;ndose a diferentes entornos y aprendiendo h&aacute;bitos para optimizar el rendimiento.</p>
                    <p  class="p_price_class">desde 24.999,99 euros</p>
                </td>
                <td>
                    <p class="p_description_class">Un sistema avanzado con inteligencia artificial de &uacute;ltima generaci&oacute;n, dise&ntilde;ado para ofrecer un servicio de alta calidad y m&aacute;xima eficiencia en el hogar. Puede manejar m&uacute;ltiples tareas simult&aacute;neamente, integrarse con dispositivos IoT y brindar asistencia personalizada seg&uacute;n las necesidades del usuario.</p>
                    <p  class="p_price_class">Contacte con nosotros para recibir presupuesto</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="p_name_class">Robots Normales en pack</p>
                </td>
                <td>
                    <p class="p_name_class">Robots Trabajadores en pack</p>
                </td>
                <td>
                    <p class="p_name_class">Robots Profesionales en pack</p>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../images/human_robot_00.png" alt="human robot img failed">
                </td>
                <td>
                    <img src="../images/human_robot_07.png" alt="human robot img failed">
                </td>
                <td>
                    <img src="../images/human_robot_08.png" alt="human robot img failed">
                </td>
            </tr>
            <tr>
                <td>
                    <p class="p_description_class">Compre Robots Normales en cantidad para recibir descuentos y bonificaciones</p>
                    <p  class="p_price_class">Contacte con nosotros para recibir presupuesto</p>
                </td>
                <td>
                    <p class="p_description_class">Compre Robots Trabajadores en cantidad para recibir descuentos y bonificaciones</p>
                    <p  class="p_price_class">Contacte con nosotros para recibir presupuesto</p>
                </td>
                <td>
                    <p class="p_description_class">Compre Robots Profesionales en cantidad para recibir descuentos y bonificaciones</p>
                    <p  class="p_price_class">Contacte con nosotros para recibir presupuesto</p>
                </td>
            </tr>
        </table>
        <h3 class="product_title_class">
            Robots de Juguete
        </h3>
        <!--tabla de producto de los robots de juguete-->
        <table class="product_table_class" id="product_table_id_02">
            <tr>
                <td>
                    <p class="p_name_class">Robot Normal v3</p>
                </td>
                <td>
                    <p class="p_name_class">Robot Acu&aacute;tico</p>
                </td>
                <td>
                    <p class="p_name_class">Robot A&eacute;reo</p>
                </td>
                <td>
                    <p class="p_name_class">Robot Ninja</p>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../images/toy_robot_02.png" alt="toy robot img failed">
                </td>
                <td>
                    <img src="../images/toy_robot_00.png" alt="toy robot img failed">
                </td>
                <td>
                    <img src="../images/toy_robot_01.png" alt="toy robot img failed">
                </td>
                <td>
                    <img src="../images/toy_robot_03.png" alt="toy robot img failed">
                </td>
            </tr>
            <tr>
                <td>
                    <p class="p_description_class">El juguete m&aacute;s popular del mundo por 2 a&ntilde;os consecutivos</p>
                    <p class="p_price_class">89,99 euros</p>
                </td>
                <td>
                    <p class="p_description_class">Sumergible hasta 20 metros con una velocidad maxima de 10Km/H</p>
                    <p class="p_price_class">109,99 euros</p>
                </td>
                <td>
                    <p class="p_description_class">Funcionalidad de dron y robot</p>
                    <p class="p_price_class">119,99 euros</p>
                </td>
                <td>
                    <p class="p_description_class">Este robot cuenta con m&aacute;s movimientos y los ejecuta m&aacute;s r&aacute;pido</p>
                    <p class="p_price_class">99,99 euros</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="p_name_class">
                        Robot Rambo
                    </p>
                </td>
                <td>
                    <p class="p_name_class">
                        Robot Militar USA 
                    </p>
                </td>
                <td>
                    <p class="p_name_class">
                        Robot Solar Punk 
                    </p>
                </td>
                <td>
                    <p class="p_name_class">
                        Robot Profesional James Bond 2087   
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../images/toy_robot_04.png" alt="toy robot img failed">
                </td>
                <td>
                    <img src="../images/toy_robot_05.png" alt="toy robot img failed">
                </td>
                <td>
                    <img src="../images/toy_robot_06.png" alt="toy robot img failed">
                </td>
                <td>
                    <img src="../images/toy_robot_08.png" alt="toy robot img failed">
                </td>
            </tr>
            <tr>
                <td>
                    <p class="p_description_class">El robot m&aacute;s fuerte de nuestra gama, ideal para combates cuerpo a cuerpo</p>
                    <p class="p_price_class">94,99 euros</p>
                </td>
                <td>
                    <p class="p_description_class">Tecnolog&iacute; GPS y conexi&oacute;n directa a DARPANET</p>
                    <p class="p_price_class">94,99 euros</p>
                </td>
                <td>
                    <p class="p_description_class">El  m&aacute;s ecol&oacute;gico, gracias a sus paneles solares no requiere de cargado</p>
                    <p class="p_price_class">139,99 euros</p>
                </td>
                <td>
                    <p class="p_description_class">El robot de juguete m&aacute;s avanzado del mercado</p>
                    <p class="p_price_class">Agotado</p>
                </td>
            </tr>
        </table>
        <h3 class="product_title_class">
            Microcontroladores
        </h3>
        <!--tabla de producto de microcontroladores-->
        <table class="product_table_class" id="product_table_id_03">
            <tr>
                <td>
                    <p class="p_name_class">Arduino Uno</p>
                </td>
                <td>
                    <p class="p_name_class">Arduino Mega 2560</p>
                </td>
                <td>
                    <p class="p_name_class">Arduino Nano</p>
                </td>
                <td>
                    <p class="p_name_class">STM blackpill</p>
                </td>
                <td>
                    <p class="p_name_class">STM32 Nucleo</p>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../images/mcc_img_02.webp" alt="mcc img failed">
                </td>
                <td>
                    <img src="../images/mcc_img_06.png" alt="mcc img failed">
                </td>
                <td>
                    <img src="../images/mcc_img_05.png" alt="mcc img failed">
                </td>
                <td>
                    <img src="../images/mcc_img_07.png" alt="mcc img failed">
                </td>
                <td>
                    <img src="../images/mcc_img_08.png" alt="mcc img failed">
                </td>
            </tr>
            <tr>
                <td>
                    <p class="p_description_class">Microcontrolador f&aacute;cil de usar, con un procesador ATmega328P de 16MHz, ideal para proyectos b&aacute;sicos de electr&oacute;nica y rob&oacute;tica.</p>
                    <p class="p_price_class">22,99 euros</p>
                </td>
                <td>
                    <p class="p_description_class">Placa potente con 54 pines de E/S digitales, dise&ntilde;ada para proyectos de rob&oacute;tica y automatizaci&oacute;n a gran escala.</p>
                    <p class="p_price_class">39,99 euros</p>
                </td>
                <td>
                    <p class="p_description_class">Versi&oacute;n peque&ntilde;a y adaptable del Arduino Uno, ideal para sistemas embebidos compactos.</p>
                    <p  class="p_price_class">12,99 euros</p>
                </td>
                <td>
                    <p class="p_description_class">Microcontrolador de alto rendimiento basado en STM32, que ofrece procesamiento r&aacute;pido y opciones de conectividad avanzadas.</p>
                    <p  class="p_price_class">11,99 euros</p>
                </td>
                <td>
                    <p class="p_description_class">Placa de desarrollo vers&aacute;til con procesadores ARM Cortex-M, ideal para prototipos y aplicaciones industriales.</p>
                    <p  class="p_price_class">8,99 euros</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="p_name_class">ESP 8266</p>
                </td>
                <td>
                    <p class="p_name_class">ESP 32</p>
                </td>
                <td>
                    <p class="p_name_class">ESP 32 con pantalla OLED</p>
                </td>
                <td>
                    <p class="p_name_class">Teensy 4.1</p>
                </td>
                <td>
                    <p class="p_name_class">MSP430</p>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../images/mcc_img_03.png" alt="mcc img failed">
                </td>
                <td>
                    <img src="../images/mcc_img_09.png" alt="mcc img failed">
                </td>
                <td>
                    <img src="../images/mcc_img_10.png" alt="mcc img failed">
                </td>
                <td>
                    <img src="../images/mcc_img_11.png" alt="mcc img failed">
                </td>
                <td>
                    <img src="../images/mcc_img_12.png" alt="mcc img failed">
                </td>
            </tr>
            <tr>
                <td>
                    <p class="p_description_class">Microcontrolador compacto con Wi-Fi integrado, perfecto para aplicaciones IoT y automatizaci&oacute;n del hogar.</p>
                    <p class="p_price_class">5,99 euros</p>
                </td>
                <td>
                    <p class="p_description_class">Microcontrolador de doble n&uacute;cleo con Wi-Fi y Bluetooth integrados, perfecto para proyectos avanzados de IoT e inteligencia artificial.</p>
                    <p class="p_price_class">8,99 euros</p>
                </td>
                <td>
                    <p class="p_description_class">Variante del ESP32 con una pantalla OLED integrada, ideal para visualizaci&oacute;n de datos en tiempo real.</p>
                    <p class="p_price_class">14,99 euros</p>
                </td>
                <td>
                    <p class="p_description_class">Microcontrolador ARM Cortex-M7 de 600MHz, que ofrece procesamiento de alta velocidad para aplicaciones exigentes.</p>
                    <p class="p_price_class">35,99 euros</p>
                </td>
                <td>
                    <p class="p_description_class">Microcontrolador de bajo consumo, ideal para dispositivos operados por bater&iacute; y proyectos eficientes en energ&iacute;.</p>
                    <p class="p_price_class">11,99 euros</p>
                </td>
            </tr>
        </table>
        <h3 class="product_title_class">
            Impresoras 3D
        </h3>
        <!--tabla de producto de impresoras 3d -->
         <table class="product_table_class" id="product_table_id_04">
            <tr>
                <td>
                    <p class="p_name_class">Impresora B&aacute;sica</p>
                </td>
                <td>
                    <p class="p_name_class">Impresora Prodesional</p>
                </td>
                <td>
                    <p class="p_name_class">Impresora Vanguardista</p>
                </td>
            </tr>
            <tr>
                <td>

                    <img src="../images/3d_printer_01.png" alt="3d printer img failed">
                </td>
                <td>
                    <img src="../images/3d_printer_02.png" alt="3d printer img failed">
                <td>
                    <img src="../images/3d_printer_03.png" alt="3d printer img failed">
                </td>
            </tr>
            <tr>
                <td>
                    <p class="p_description_class">Esta impresora 3D compacta y asequible es perfecta para principiantes y aficionados. Dise&ntilde;ada para ser confiable y f&aacute;cil de usar, cuenta con una estructura resistente, controles simples y capacidades de impresi&oacute;n precisas. Ya sea que est&eacute;s creando peque&ntilde;os prototipos o dise&ntilde;os art&iacute;ticos, esta impresora ofrece resultados consistentes sin gastar una fortuna.</p>
                    <p  class="p_price_class">379,99 euros</p>
                </td>
                <td>
                    <p class="p_description_class">Eleva tus creaciones con esta impresora 3D de alto nivel, que ofrece cinco veces el valor de los modelos est&aacute;ndar. Con una resoluci&oacute;n de impresi&oacute;n superior, compatibilidad con materiales avanzados y velocidades de impresi&oacute;n m&aacute;s r&aacute;pidas, esta m&aacute;quina es ideal para profesionales y entusiastas que buscan mayor eficiencia y detalle en sus proyectos.</p>
                    <p  class="p_price_class">789,99 euros</p>
                </td>
                <td>
                    <p class="p_description_class">Da un salto al futuro con esta impresora 3D ultra premium. Dise&ntilde;ada con tecnolog&iacute; de &uacute;ltima generaci&oacute;n, funciones de dise&ntilde;o asistido por IA y capacidades de impresi&oacute;n multimaterial, esta potente m&aacute;quina puede producir modelos complejos y de alta precisi&oacute;n para industrias como la aeroespacial, la salud y la manufactura avanzada.</p>
                    <p  class="p_price_class">3.499,99 euros</p>
                </td>
            </tr>
        </table>
    </section>
  <!--seccion footer-->  
  <footer id="footer_id">
    <!--tabla de tres filas que contienen el contenido de footer-->
    <table id="footer_table_id">
        <!--fila de las imagenes dentro de enlaces de las redes sociales en una sola celda-->
        <tr>
                <td class="social_td_class">
                    <a href="https://www.facebook.com"><img class="social_img_class_00" src="../images/facebooklogo.webp" alt="facebook logo not loaded"></a>
                    <a href="https://x.com"><img class="social_img_class_00" src="../images/xlogo.png" alt="x logo not working"></a>
                    <a href="https://www.linkedin.com"><img class="social_img_class_00" src="../images/inlogo.png" alt="linkedin logo not working"></a>
                    <a href="https://www.instagram.com/keyday_electronics"><img class="social_img_class_00" src="../images/instalogo.png " alt="instagram logo not working"></a>
                    <a href="https://www.youtube.com"><img class="social_img_class_00" id="yt_img_id" src="../images/ytlogo.png" alt="youtube logo not working"></a>
                </td>
        </tr>
        <!--fila que contiene la direccion de la empresa-->
        <tr>
            <td>
                <p >
                    Keyday Electronics 123 Sunset Lane, Suite 7 Honolulu, HI 96815 United States
                </p>
            </td>
        </tr>
        <!--fila que contiene el eviso legal-->
        <tr>
            <td>
                <p>
                    Lea nuestro <a href="aviso_legal.html" target="_blank">Aviso Legal</a>
                </p>
            </td>
        </tr> 
    </table>
  </footer>
</body>
</html>